<h1>Add a Task List</h1>

<% @task_list.errors.full_messages.each do |error| %>
  <div class="errors">
    <%= error %>
  </div>
<% end %>

<%= form_for @task_list, url: "/task_list/new" do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit "Create Task List" %>
<% end %>