<h1>My Lists</h1><h3><%= link_to '+ Add Task List', new_task_list_path %></h3>

<% @task_lists.each do |task_list| %>

  <section class="task-list">
    <h1>
      <%= image_tag "arrow.png", class: :arrow %>
      <%= link_to task_list.name, task_list_path(task_list), class: :task_title %> ∞
      <%= link_to '+ Add Task', new_task_list_task_path(task_list), class: :add_link %> ∞
      <%= link_to 'Edit', edit_task_list_path(task_list), class: :edit_link %> ∞
      <%= link_to 'Delete', "/task_lists/#{task_list.id}", class: :edit_link, method: :delete %> ∞
      <%= link_to 'Completed', "/task_lists/#{task_list.id}/completed", class: :add_link %>
    </h1>
    <% if task_list.tasks.length > 0 %>
      <% task_list.tasks.order(:date).each do |task| %>
        <% unless task.complete %>
          <div class="task">
            <%= task.name %> (<%= distance_of_time_in_words(task.date, Date.current) %>) - <%= @users.find_by(id: task.user_id).name %>
            <%= button_to 'Complete', {:controller => :tasks, action: 'update', id: task.id, task_list_id: task_list.id }, method: :put %>
            <%= button_to 'Delete', {:controller => :tasks, action: 'destroy', id: task.id, task_list_id: task_list.id }, method: :delete %>
          </div><br>
        <% end %>
      <% end %>
    <% else %>
      <p>Nothing to see here!</p>
    <% end %>
  </section>


<% end %>
